body{
margin: 0px;
padding: 0px;}
.content{
height: 100vh;
display: flex;
}
.sider{
width: 15%;
}
.body-content{
width: 100%;
display: flex;
flex-direction: column;
}
.border{
border: 2px solid #000;
}
header{
height: 40px;
}
#content-one,#content-two,.last-content{
height: 200px;
display: flex;
}
#content-two .one,
#content-two .two{
border: 2px dotted #000;
width: 50%;
}
footer{
position: absolute;
bottom: 0px;
width: 100vw;
}

div.last-content div{
border: 2px dashed #000;
width: 100%;
}